.seat-item {
    position: relative;
    transition: all 0.2s;
    background: transparent;
    
    display: inline-block;
    margin-right: 10px;
    &.available:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }
    &.choose {
        background: #ECE9E6;  /* fallback for old browsers */
    }
    &.not-available {
        border: none !important;
        background: #232526;
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #232526;
        font-size: 12px;
    }

    &.standard{ 
        border: 1px solid #fce38a;
        border-radius: 8px;
    }

    &.vip {
        border: 1px solid #f38181;
        border-radius: 8px;
    }

    &.deluxe {
        border: 1px solid #95e1d3;
        border-radius: 8px;
    }

    &:last-child {
        margin: 0;
    }
    
}

